<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <button mat-icon-button color="primary" aria-label="Sign Out" (click)="signOut()"><mat-icon>logout</mat-icon></button>
    <br>
    <button mat-icon-button color="primary" aria-label="Hide" (click)="hide()"><mat-icon>bolt</mat-icon></button>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-live-table></app-live-table>
  </mat-sidenav-content>
</mat-sidenav-container>
</ng-template>
</amplify-authenticator>